.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin: 1rem;
    width: 500px;

    color: #545454;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.score {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 40px;

    color: white;
    font-size: large;
    font-weight: 700;

    background-color: var(--color-accent);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}