.card {
    position: relative;

    width: 100%;
    height: 100%;

    transition: 0.7s;
    transform-style: preserve-3d;

    cursor: pointer;
}

.card.is-flipped {
    pointer-events: none;
    transform: rotateY(180deg);
}

.card.is-inactive {
    opacity: 0;
}

.card.is-disabled:not(.is-flipped) {
    opacity: 0.5;
    pointer-events: none;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-face {
    position: absolute;

    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: white;
    font-size: large;
    font-weight: 700;

    background-color: var(--color-primary);
    cursor: pointer;
}

.card-back-face {
    background-color: var(--color-background);

    transform: rotateY(180deg);
}